
*{
	text-align: center;
	font-size: 23px;
}
table {
	width:100%;
    background-color:#ADBAC2;
    table-layout: fixed ;

}


table, td, th {

	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: black;  

}
/*.blank{

    height: 10px !important; 

}*/
