<!--Results for all games my team played this season-->
<div>
    <div *ngIf = "team">
    
<h1>Select Oponent Team</h1>
<select #mySelect (change) = "onSelect(mySelect.value)">
    <option *ngFor="let team of teams" [value]="team.id">
        {{team.name}}
    </option>
</select>
<!----
<li class="items" *ngFor="let team of teams" (click)="onSelect(team)">
        
    <span>{{team.id}}</span> {{team.name}}

</li>
-->


<table *ngIf="rivalTeam" style ="text-align: center;"> 
        <tr><th>Home Team</th><th>Away Team</th><th>Score</th><th>Winner</th></tr>

        <tr *ngFor="let game of games">

            <td>{{game.hteam}}</td>
            <td>{{game.ateam}}</td>
            <td>{{game.hscore}}-{{game.ascore}}</td>
            <td>{{game.winner}}</td>
        </tr>

    </table>
    </div>

</div>
